.currency {
	position: relative;
	max-width: 480px;
	height: 174px;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 30px;
	color: #ffffff;
	background-color: #4a56e2;
	background-image: url('../../../images/currency/currency_mob.png');
	background-repeat: no-repeat;
	background-position: right bottom;
}

.currency table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	font-family: Circe, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	border-spacing: 0;
	margin: 0;
	padding: 0;
}

.currency thead {
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	/* background: rgba(255, 255, 255, 0.2); */
}

.currency thead td {
	padding: 11px 0 12px;
}

.currency thead td:nth-child(1) {
	border-top-left-radius: 30px;
	background-color: rgba(255, 255, 255, 0.2);
}

.currency thead td:nth-child(2) {
	background-color: rgba(255, 255, 255, 0.2);
}

.currency thead td:nth-child(3) {
	border-top-right-radius: 30px;
	background-color: rgba(255, 255, 255, 0.2);
}

.currency td {
	padding-top: 10px;
}
.loader {
	position: relative;
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
	transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
	.currency {
		width: 334px;
		background-image: url('../../../images/currency/currency_tab.png');
	}

	.currencyShow {
		animation: currency-show 0.5s forwards;
	}
	.loader {
		top: 50%;
	}
}

@media (min-width: 1280px) {
	.currency {
		width: 348px;
		height: 347px;
		background-image: url('../../../images/currency/currency_desk.png');
		margin-top: 0;
	}

	.currency thead {
		height: 60px;
	}

	.currency thead td {
		padding: 17px 0 16px;
	}

	.currency td {
		padding-top: 23px;
	}
}

@keyframes currency-show {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	50% {
		opacity: 1;
	}

	100% {
		transform: translateX(0);
	}
}
